@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.pop {
  animation: pop 0.3s ease;
}

/* centang show */
.show-check {
  opacity: 1 !important;
  transform: scale(1) !important;
}
body {
  font-family: sans-serif;
}
